/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  color: map-get($rainbow-colors, white);
  background: map-get($branding-colors, dark);
  // background-image: url('../img/photography/photo.jpg');
  background-size: cover;
}
@media (min-width: 550px) {
  .hero {
    height: 165px;
    padding-bottom: 12rem;
    text-align: left;
  }

  .hero-heading {
    font-size: 2.4rem;
  }
}
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }

  .hero-heading {
    font-size: 2.6rem;
  }

  .hero {
    padding: 16rem 0 14rem;
  }
}
@media (min-width: 1000px) {
  .hero {
    padding: 22rem 0;
  }

  .hero-heading {
    font-size: 3.0rem;
  }
}
