$tab-icon-size: 28px;
$tab-width: 440px;
$tab-circle: 80px;
/**
 * tabs
 */
.tabs .tab-items {
  margin: 0 0 52px;
}

.tabs .tab-item {
  display: block;
}

.tabs .tab-item .tab-link {
  padding: 26px 0;
  border-bottom: 0;
}
@media only screen and (min-width: 60em) {
  .tabs {
    float: left;
  }

  .tabs .tab-items {
    float: left;
    width: $tab-width;
    margin: 0;
  }
}

.tab-link {
  color: map-get($branding-colors, dark);
}

.tab-item {
  margin: 0 18.2px;
  border-bottom: 1px solid map-get($branding-colors, light);
}

.tab-link {
  display: inline-block;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.tab-icon {
  float: left;
  width: $tab-circle;
  height: $tab-circle;
  padding-left: $tab-circle / 3;
  color: #fff;
  border-radius: 40px;
  background: map-get($branding-colors, dark);
}

.tab-icon .icon {
  font-size: $tab-icon-size;
  line-height: $tab-circle;
}

.tab-primary .tab-icon {
  background: map-get($branding-colors, primary);
}

.tab-secondary .tab-icon {
  background: map-get($branding-colors, secondary);
}

.tab-tertiary .tab-icon {
  background: map-get($branding-colors, tertiary);
}

.tab-body,
.tab-title {
  margin-left: 76px;
  padding-left: 31.2px;
}

.tab-body {
  line-height: 1.4;
  margin-bottom: 0;
  color: map-get($branding-colors, dark);
}
