/* FONTS
-------------------------*/

@font-face {
  font-family: 'Cookiesandcream';
  src: url('../fonts/Cookiesandcream.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marshmallow';
  src: url('../fonts/Marshmallow-Regular.otf'),
    url('../fonts/Marshmallow-Regular.ttf') format('truetype'),
    url('../fonts/Marshmallow-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
