/* VARIABLES
-------------------------*/
// Social colors
$social-pinterest:          #cb2028;
$social-linkedin:           #0072b5;
$social-stumbleupon:        #ed4a13;
$social-googleplus:         #2d2d2d;
$social-facebook:           #2f4b93;
$social-twitter:            #00bdef;

//Neutral colours


// Brand colors
$green:       #00BAAD;
$blue:        #3D3D6B;
$yellow:      #EDDD53;
$pink:        #F873A2;
$light-grey:  #F6F7FA;
$dark-grey:   #2C3E50;
$white:       #FFFFFF;

$light:       $light-grey;
$dark:        $dark-grey;

// Background Color
$base-background-color: 	$white;

// Font Colors
$base-font-color: 			$dark;

$primary:$green;

$hover-color: $primary;
$button-color: $primary;

/*font-family: 'Marshmallow';*/
/*font-family: 'Raleway'*/
/*font-family: 'Laila'*/
/*font-family: 'Source Serif Pro';*/

// Typography
$base-font-family: 			'Source Sans Pro', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: 		'Cookiesandcream', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
