<footer>
  <div class="container">
    <div class="columns twelve u-center">
      <h5>Let's connect!</h5>
    </div>
    <div class="columns twelve u-center">
      <div class="icon-container">
        <div class="icons">
          <a href="https://twitter.com/V__Verena">
            <img class="social-icon" src="/images/social/gray/twitter.svg" alt="icon">
          </a>
          <a href="https://github.com/VerenaVertonghen/">
            <img class="social-icon" src="/images/social/gray/github.svg" alt="icon">
          </a>
          <a href="https://www.youtube.com/channel/UCnrbC-hpsqCHIlL-hRllmEQ">
            <img class="social-icon" src="/images/social/gray/youtube.svg" alt="icon">
          </a>
          <a href="https://www.pinterest.com/V__Verena/">
            <img class="social-icon" src="/images/social/gray/pinterest.svg" alt="icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
