<!-- <footer>
  <div class="container">
    <div class="columns twelve u-center">
      <h5>Let's connect!</h5>
    </div>
    <div class="columns twelve u-center">
      <div class="icon-container">
        <div class="icons">
          <a href="https://twitter.com/V__Verena">
            <img class="social-icon" src="/images/social/gray/twitter.svg" alt="icon">
          </a>
          <a href="https://github.com/verenavertonghen/">
            <img class="social-icon" src="/images/social/gray/github.svg" alt="icon">
          </a>
          <a href="https://www.youtube.com/channel/UCnrbC-hpsqCHIlL-hRllmEQ">
            <img class="social-icon" src="/images/social/gray/youtube.svg" alt="icon">
          </a>
          <a href="https://www.pinterest.com/V__Verena/">
            <img class="social-icon" src="/images/social/gray/pinterest.svg" alt="icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer> -->
<footer>
  <div class="container">
    <ul class="footer-list">
        <li class="footer-item">
            <a href="/" class="footer-logo">
              <img src="/images/logo-white.png">
            </a>
        </li>
    </ul>
    <ul class="footer-list u-pull-right">
      <div class="icon-container">
        <div class="icons">
          <a href="https://twitter.com/V__Verena">
            <img class="social-icon" src="/images/social/gray/twitter.svg" alt="icon">
          </a>
          <a href="https://github.com/verenavertonghen/">
            <img class="social-icon" src="/images/social/gray/github.svg" alt="icon">
          </a>
          <a href="https://www.youtube.com/channel/UCnrbC-hpsqCHIlL-hRllmEQ">
            <img class="social-icon" src="/images/social/gray/youtube.svg" alt="icon">
          </a>
          <a href="https://www.pinterest.com/V__Verena/">
            <img class="social-icon" src="/images/social/gray/pinterest.svg" alt="icon">
          </a>
        </div>
      </div>
        <!-- <li class="footer-item"><a {% if page.title == "Home" %}class="active"{% endif %} href="/">Home</a></li>
        <li class="footer-item"><a {% if page.title == "Portfolio" %}class="active"{% endif %} href="/portfolio">Portfolio</a></li>
        <li class="footer-item"><a {% if page.url contains "blog" %}class="active"{% endif %} href="/blog">Blog</a></li> -->
    </ul>
  </div>
</footer>
