<footer class="container" role="contentinfo">
  <div class="row">
    <div class="columns five">
      <div class="logo">
        <a href="index.html" title="Pixelmatters Homepage">
          <img src="/images/logo.png" alt="Pixelmatters Logo">
        </a>
      </div>
      <div class="columns two">

      </div>
      <div class="columns five">
        <div id="icon-container">
          <div id="icons">
            <a href="https://twitter.com/V__Verena">
              <img class="social-icon" src="/images/social/gray/twitter.svg" alt="icon">
            </a>
            <a href="https://www.linkedin.com/profile/view?id=380186747&trk=nav_responsive_tab_profile_pic">
              <img class="social-icon" src="/images/social/gray/linkedin.svg" alt="icon">
            </a>
            <a href="https://github.com/VerenaVertonghen/">
              <img class="social-icon" src="/images/social/gray/github.svg" alt="icon">
            </a>
            <a href="https://www.youtube.com/channel/UCnrbC-hpsqCHIlL-hRllmEQ">
              <img class="social-icon" src="/images/social/gray/youtube.svg" alt="icon">
            </a>
            <a href="https://www.pinterest.com/V__Verena/">
              <img class="social-icon" src="/images/social/gray/pinterest.svg" alt="icon">
            </a>
          </div>
        </div>
      </div>
    </div>
</footer>
