<nav>
  <div class="container">
    <ul class="navbar-list">
        <li class="navbar-item">
            <a href="/" class="navbar-logo">
              <img src="/images/logo.png">
            </a>
        </li>
    </ul>
    <ul class="navbar-list u-pull-right">
        <li class="navbar-item"><a {% if page.title == "About" %}class="active"{% endif %} href="/">About</a></li>
        <li class="navbar-item"><a {% if page.title == "Portfolio" %}class="active"{% endif %} href="/portfolio">Portfolio</a></li>
        <!-- <li class="navbar-item"><a {% if page.url contains "blog" %}class="active"{% endif %} href="/blog">Blog</a></li> -->
    </ul>
  </div>
</nav>
