<div class="section values">
  <div class="container">
    <div class="row">
      <h5>What I do</h5>
    </div>
    <div class="row">
      <div class="two-thirds column value">
        <h2 class="value-multiplier">Front-end</h2>
        <h5 class="value-heading">Design + Development</h5>
        <p class="value-description">
          Not a full-stack designer, not a full-stack developer, but somewhere in between.
          I have the best of both worlds and work best in a position between designers and developers.
          Here a small overview of the most important skills that I have.
        </p>
        <ul>
          <li>Keen eye for aesthetics and creative</li>
          <li>User Interface Design + Development</li>
          <li>Understanding of User Experience principles and best practices</li>
          <li>Responsive Design</li>
          <li>Building pattern libraries</li>
          <li>CSS architecture, scalability, maintainability, performance</li>
          <li>Working with preprocessors Sass - Less</li>
          <li>Utilizing Javascript libraries or frameworks</li>
          <li>Configuring build and optimization tools to optimize your workflow</li>
        </ul>
      </div>
      <div class="one-third column value">

      </div>
    </div>
  </div>
</div>
