<div class="section values">
  <div class="container">
    <div class="row">
      <h5>What I do</h5>
    </div>
    <div class="row">
      <div class="two-thirds column value">
        <h2 class="value-multiplier">Front-end</h2>
        <h5 class="value-heading">Design + Development</h5>
        <p class="value-description">
          I have the best of both worlds and work best in a position between designers and developers.
          This is a small overview of skills that I have.
        </p>
        <ul>
          <li>Keen eye for aesthetics and creative</li>
          <li>Design and development of a responsive User Interface</li>
          <li>Understanding of User Experience principles and best practices</li>
          <li>Creating or improving pattern libraries</li>
          <li>Knowledge of CSS architecture, scalability, maintainability, performance, preprocessors</li>
          <li>Utilizing Javascript libraries or frameworks</li>
          <li>Configuring build and optimization tools to improve your workflow</li>
        </ul>
      </div>
      <div class="one-third column value">

      </div>
    </div>
  </div>
</div>
