<div class="section values">
  <div class="container">
    <div class="row">
      <h5>What I do</h5>
    </div>
    <div class="row">
      <div class="two-thirds column value">
        <h2 class="value-multiplier">Front-end Design + Development</h2>
        <h5 class="value-heading">Specialization</h5>
        <p class="value-description">Percentage of users more likely to purchase on mobile friendly site.</p>
        <ul>
          <li>User Interface Design + Development</li>
          <li>User Experience</li>
          <li>Responsive design</li>
          <li>Building pattern libraries</li>
          <li>Semantic HTML</li>
          <li>CSS architecture, scalability, maintainability, performance</li>
          <li>Preprocessors Sass - Less</li>
          <li>Javascript libraries or frameworks</li>
          <li>Tooling to optimize your workflow</li>
          <li>Wireframing</li>
        </ul>
      </div>
      <div class="one-third column value">
        <h2 class="value-multiplier">Other</h2>
        <h5 class="value-heading">Basics</h5>
        <p class="value-description">Percentage of users more likely to purchase on mobile friendly site.</p>
        <ul>
          <li>Backend</li>
          <li>SEO</li>
          <li>Database</li>
          <li>Animations</li>
          <li>Video Editing</li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
