---
layout: page
title: Blog
---

{% assign sorted_pages = paginator.posts | sort: :pub_date | reversed %}


{% for post in sorted_pages reversed %}
<br />
<div class="panel panel-default">
  <div class="panel-body">
    <h3 class="media-heading"><a class="text-dblue" href="{{ post.url }}.html">{{ post.title }}</a></h3>
    <time class="media-meta text-muted" datetime="{{ post.date | date_to_xmlschema }}">Posted on {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} by {{ post.author }}{% endif %}  </time>
    {{ post.excerpt }}
    {% capture content_words %}
      {{ post.content | number_of_words }}
    {% endcapture %}
    {% capture excerpt_words %}
      {{ post.excerpt | number_of_words }}
    {% endcapture %}
  </div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.previous_page %}
  <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous page</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next page &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
