/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="button"].button-primary,
input[type="reset"].button-primary,
input[type="submit"].button-primary {
  color: #FFF;
  background-color: $primary;
  border-color: $primary;
}

.button.button-primary:focus,
.button.button-primary:hover,
button.button-primary:focus,
button.button-primary:hover,
input[type="button"].button-primary:focus,
input[type="button"].button-primary:hover,
input[type="reset"].button-primary:focus,
input[type="reset"].button-primary:hover,
input[type="submit"].button-primary:focus,
input[type="submit"].button-primary:hover {
  color: #FFF;
  background-color: lighten($primary, 10%);
  border-color: lighten($primary, 10%);
}

.button.button-secondary,
button.button-secondary,
input[type="button"].button-secondary,
input[type="reset"].button-secondary,
input[type="submit"].button-secondary {
  color: #FFF;
  background-color: $primary;
  border-color: $primary;
}

.button.button-secondary:focus,
.button.button-secondary:hover,
button.button-secondary:focus,
button.button-secondary:hover,
input[type="button"].button-secondary:focus,
input[type="button"].button-secondary:hover,
input[type="reset"].button-secondary:focus,
input[type="reset"].button-secondary:hover,
input[type="submit"].button-secondary:focus,
input[type="submit"].button-secondary:hover {
  color: #FFF;
  background-color: lighten($primary, 10%);
  border-color: lighten($primary, 10%);
}

.button.button-light,
button.button-light,
input[type="button"].button-light,
input[type="reset"].button-light,
input[type="submit"].button-light {
    color: $light;
    border-color: $light;
}