/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="button"].button-primary,
input[type="reset"].button-primary,
input[type="submit"].button-primary {
  color: #FFF;
  background-color: map-get($branding-colors, primary);
  border-color: map-get($branding-colors, primary);
}

.button.button-primary:focus,
.button.button-primary:hover,
button.button-primary:focus,
button.button-primary:hover,
input[type="button"].button-primary:focus,
input[type="button"].button-primary:hover,
input[type="reset"].button-primary:focus,
input[type="reset"].button-primary:hover,
input[type="submit"].button-primary:focus,
input[type="submit"].button-primary:hover {
  color: #FFF;
  background-color: map-get($branding-colors, primary-lighten);
  border-color: map-get($branding-colors, primary-lighten);
}

.button.button-secondary,
button.button-secondary,
input[type="button"].button-secondary,
input[type="reset"].button-secondary,
input[type="submit"].button-secondary {
  color: #FFF;
  background-color: map-get($branding-colors, secondary);
  border-color: map-get($branding-colors, secondary);
}

.button.button-secondary:focus,
.button.button-secondary:hover,
button.button-secondary:focus,
button.button-secondary:hover,
input[type="button"].button-secondary:focus,
input[type="button"].button-secondary:hover,
input[type="reset"].button-secondary:focus,
input[type="reset"].button-secondary:hover,
input[type="submit"].button-secondary:focus,
input[type="submit"].button-secondary:hover {
  color: #FFF;
  background-color: map-get($branding-colors, secondary-lighten);
  border-color: map-get($branding-colors, secondary-lighten);
}

.button.button-positive,
button.button-positive,
input[type="button"].button-positive,
input[type="reset"].button-positive,
input[type="submit"].button-positive {
  color: #FFF;
  background-color: map-get($branding-colors, positive);
  border-color: map-get($branding-colors, positive);
}

.button.button-positive:focus,
.button.button-positive:hover,
button.button-positive:focus,
button.button-positive:hover,
input[type="button"].button-positive:focus,
input[type="button"].button-positive:hover,
input[type="reset"].button-positive:focus,
input[type="reset"].button-positive:hover,
input[type="submit"].button-positive:focus,
input[type="submit"].button-positive:hover {
  color: #FFF;
  background-color: map-get($branding-colors, positive-lighten);
  border-color: map-get($branding-colors, positive-lighten);
}

.button.button-danger,
button.button-danger,
input[type="button"].button-danger,
input[type="reset"].button-danger,
input[type="submit"].button-danger {
  color: #FFF;
  background-color: map-get($branding-colors, danger);
  border-color: map-get($branding-colors, danger);
}

.button.button-danger:focus,
.button.button-danger:hover,
button.button-danger:focus,
button.button-danger:hover,
input[type="button"].button-danger:focus,
input[type="button"].button-danger:hover,
input[type="reset"].button-danger:focus,
input[type="reset"].button-danger:hover,
input[type="submit"].button-danger:focus,
input[type="submit"].button-danger:hover {
  color: #FFF;
  background-color: map-get($branding-colors, danger-lighten);
  border-color: map-get($branding-colors, danger-lighten);
}

.button.button-light,
button.button-light,
input[type="button"].button-light,
input[type="reset"].button-light,
input[type="submit"].button-light {
    color: map-get($branding-colors, light);
    border-color: map-get($branding-colors, light);
}

.button.button-light:focus,
.button.button-light:hover,
button.button-light:focus,
button.button-light:hover,
input[type="button"].button-light:focus,
input[type="button"].button-light:hover,
input[type="reset"].button-light:focus,
input[type="reset"].button-light:hover,
input[type="submit"].button-light:focus,
input[type="submit"].button-light:hover {
  color: map-get($branding-colors, light);
  border-color: map-get($branding-colors, light);
}
