/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  padding-top   : 75px;
  padding-bottom: 215px;
  position      : relative;
}
@media (min-width: 992px) {
  .footer {
    padding-top   : 45px;
    padding-bottom: 45px;
  }
}

.footer__logo {
  padding-top  : 11px;
  margin-bottom: 13px;
}

#icon-container {
  //background-color: $emerald;
  margin-left : auto;
  margin-right: auto;
  text-align  : center;
  display     : inline-block;

  #icons {
    padding: 0 1.5em;

    .social-icon {
      width  : 3.4em;
      float  : left;
      padding: 0.4em;
    }
  }
}
