.grid-items {
  $item-color           : map-get($rainbow-colors, white);
  $base-background-color: $primary !default;
  $dark-gray            : #333 !default;
  $light-gray           : #DDD !default;
  $medium-screen        : em(640) !default;
  $large-screen         : em(860) !default;
  $base-font-color      : map-get($branding-colors, dark);
  $grid-items-background: $base-background-color;
  $grid-item-background : $base-background-color;
  $grid-item-border     : 2px solid map-get($branding-colors, light);
  $grid-item-color      : $base-font-color;
  $grid-item-height     : 300px;
  $grid-item-colors     : $item-color,$item-color,$item-color,$item-color,$item-color,$item-color,$item-color,$item-color,$item-color,$item-color,$item-color,$item-color,$item-color,$item-color,$item-color;
  position              : relative;

  .grid-item {
    // background: $grid-item-background;
    border         : $grid-item-border;
    height         : $grid-item-height;
    margin         : 0.1em;
    cursor         : pointer;
    float          : left;
    overflow       : hidden;
    outline        : none;
    padding        : 3em;
    text-decoration: none;
    width          : 100%;
    text-align     : center;

    &:focus,
    &:hover {
      background: map-get($branding-colors, light);
    }
  }

  .grid-item img {
    display      : block;
    height       : 2em;
    margin-bottom: 1em;
    opacity      : 0.2;
    margin-left  : auto;
    margin-right : auto;
  }

  .grid-item h2 {
    color        : map-get($branding-colors, dark);
    font-size    : 1.4em;
    // margin: 0.8em 0em;
  }

  .grid-item p {
    color: map-get($branding-colors, dark);
  }
}
