
$item-color           :$white;
$base-background-color: $primary !default;
$dark-gray            : #333 !default;
$light-gray           : #DDD !default;
$base-font-color      : $dark;
$grid-items-background: $base-background-color;
$grid-item-background : $base-background-color;
$grid-item-border     : 1px solid $light;
$grid-item-color      : $base-font-color;
$grid-item-height     : 250px;


.grid-item {
  border         : $grid-item-border;
  height         : $grid-item-height;
  margin         : 1em 0;
  cursor         : pointer;
  float          : left;
  overflow       : hidden;
  outline        : none;
  padding        : 2em;
  text-decoration: none;
  width          : 100%;
  text-align     : center;

  &:focus,
  &:hover {
    background: $light;
  }
}

.grid-item img {
  display      : block;
  height       : 2em;
  margin-bottom: 1em;
  opacity      : 0.2;
  margin-left  : auto;
  margin-right : auto;
}

.grid-item h2 {
  color        : $dark;
  font-size: 2.4rem;
  margin-bottom: 1.4rem;
}

.grid-item .portfolio-type {
  color: $primary;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.grid-item p {
  color: $dark;
}
