$message-border-size: 4px;

.message {
  padding: 1em 2em;
}

.card {
  p{
	  margin-bottom: 0;
  }

  &.message-info {
    border-left: $message-border-size solid map-get($branding-colors, primary) !important;
  }

  &.message-positive {
    border-left: $message-border-size solid map-get($branding-colors, positive) !important;
  }

  &.message-danger {
    border-left: $message-border-size solid map-get($branding-colors, danger) !important;
  }
}
