.search-component {
  position: relative;
  padding:2em;

  .search-component-input {
      margin-bottom:0;
    border-color: map-get($branding-colors, dark);
    padding: 16px 20px;
    border-radius: 20px;
    width: 75%;
    box-sizing: border-box;
    @media (min-width: 750px) {
      width: 25%;
    }
  }

  .search-component-icon {
    margin-left: 1em;
  }
}
