/* Section*/
.panel {
  padding: 8rem 0 7rem;
}
.section {
  padding: 1rem 0 7rem;
}

.section-description,
.section-heading {
  margin-bottom: 1.2rem;
}

@media (min-width: 550px) {
  .section {
    padding: 2rem 0 11rem;
  }
}

@media (min-width: 750px) {
  .section {
    padding: 3rem 0 10rem;
  }
}

@media (min-width: 1000px) {
  .section {
    padding: 4rem 0 8rem;
  }
}
