.tags {
  padding: 5rem;
  text-align: center;
}
@media (min-width: 750px) {
  .tags {
    padding: 1rem 0 2rem;
  }
}

.tags-block {
  a {
    font-family: $base-body-font;
    line-height: 1em;
    display: inline-block;
    min-width: 2em;
    min-height: 2em;
    margin: 0.2em;
    padding: 0.4em 0.8em;
    text-align: center;
    vertical-align: baseline;
    color: map-get($branding-colors, primary);
    border: 1px solid map-get($branding-colors, primary);
    border-radius: 25px;

    &:before {
      content: '#';
    }

    &:hover {
      color: map-get($rainbow-colors, white);
      background-color: map-get($branding-colors, primary);
    }
  }
}
