.values {
  padding-bottom: 5rem;
  // color: #fff;
  // background-color: $primary;
  // background-image: url('../img/pattern/2.png');
  background-size: cover;
}

.value-multiplier {
  margin-bottom: 0.5rem;
  // font-size: 3.0rem;
  // color: $primary;
}

.value-heading {
  margin-bottom: 0.3rem;
}

.value-description {
  font-weight: 300;
  opacity: 0.8;
}
