$parallax-window-height: 40em;
$parallax-background-height: $parallax-window-height * 1.5;

@mixin dark(){
  $value:0.5;
  filter: brightness($value);
  -webkit-filter: brightness($value);
  -moz-filter: brightness($value);
  -o-filter: brightness($value);
  -ms-filter: brightness($value);
}

@mixin parallax-pad(){
  padding: 6em 2em;
}

.hero-logo img {
  height: 10em;
}

.hero-logo{
  border:none !important;
}

.parallax-window {
  // max-height: $parallax-window-height;
  max-height: 80em;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  h1 {
    color: $dark;
    font-size: 3.5em;
    margin-bottom: 10em;
  }
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 10em 2em;
  //@include parallax-pad();
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("../images/photography/phone.jpg") repeat;
  // background: url("../images/photography/smile.jpg") repeat;
  @include dark();
  background-size: cover;
  background-color: $dark;
  background-position: top;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 4;
  width: 100%;
}


.parallax-window2 {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  h1 {
    color: $dark;
    font-size: 3.5em;
    margin-bottom: 10em;
  }
}

.parallax-static-content2 {
  //color: #9A9A8A;
  color: $light;
  // @include parallax-pad();
  @include outer-container();
  padding: 10em 1em;
  position: relative;
  z-index: 9;
  text-align: left;
  width:100%;
  @include media($large-screen) {
    width: 60%;
  }
}

.parallax-background2 {
  // background: url("../../images/photography/pic1.jpg") repeat;
  // background: url("../../images/photography/pic5.jpg") repeat;
  // background: url("../images/pattern/banner.png") repeat;
  // background: url("../images/photography/phone.jpg") repeat;
  background: url("../images/photography/devicesclose.jpg") repeat;
  @include dark();
  background-size: cover;
  background-color: $dark;
  background-position: top;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 4;
  width: 100%;
}



.parallax-window3 {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  h1 {
    color: $dark;
    font-size: 3.5em;
    margin-bottom: 10em;
  }
}

.parallax-static-content3 {
  // color: #9A9A8A;
  color: $light;
  @include parallax-pad();
  position: relative;
  z-index: 9;
  //text-align: left;
}

.parallax-background3 {
  // background: url("../../images/photography/pic1.jpg") repeat;
  // background: url("../../images/pattern/flyers.png") repeat;
  background: url("../images/pattern/flyers.png") repeat;
  @include dark();
  // opacity: 0.9;
  // filter: alpha(opacity=90); /* For IE8 and earlier */
  background-size: cover;
  background-color: $dark;
  background-position: top;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 4;
  width: 100%;
}