@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.skill-items {
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($base-accent-color, 50); 
  //$grid-item-colors: #00c781,#00c781,#00c781,#00c781,#00c781,#00c781,#00c781,#00c781,#00c781,#00c781,#00c781;
  // $grid-item-colors: $mint,$mint,$mint;
  $grid-item-colors: $white,$white,$white;
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $dark;
  $grid-item-height: 22em;


  @include clearfix;

  a{
    //font-weight: 700;
  }
    
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    background: $grid-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 0em 1em;
    border-top: 0;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: $grid-item-border-size /2 solid $grid-items-background;
    border-right: $grid-item-border-size /2 solid $grid-items-background;
    text-align: center;
    //cursor: pointer;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        /*box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10);*/
        &:hover {
          //background-color: darken($background-from-list, 10);
          //background-color: lighten($background-from-list, 10);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }
      }
    }
  }

  .grid-item img {
      display: block;
      height: 10em;
      margin: auto;
      margin-bottom: 0.4em;
    }

  .grid-item h2 {
      color: $grid-item-color;
      font-size: 1.2em;
      margin-bottom: .4em;
      //font-weight: 700;
    }

  .grid-item p {
      margin: auto;
      //font-size: 0.9em;
      color: transparentize($grid-item-color, .3);
      @include media($medium-screen) {
        //max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }  
    }
  }

  .grid-item-image {
    //background: url(../img/default.png);
    background-color: $grid-item-background;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

      
  }
}
