---
layout: default
---
<div class="container">
  <div class="row">
    <div class="section tags">
      <div class="offset-by-two columns eight">
        <section>
          <h2><a href="/blog/tags/">Tags</a></h2>
          <div class="tags-block">
            <a href="#">JavaScript</a>
            <a href="#">HTML</a>
            <a href="#">CSS</a>
            <a href="#">Animation</a>
            <a href="#">SVG</a>
            <a href="#">UX</a>
            <a href="#">UI</a>
            <a href="#">Angular</a>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="section">
      <div class="offset-by-three columns six">
        {% assign sorted_pages = paginator.posts | sort: pub_date | reversed %} {% for post in sorted_pages reversed %}
        <div class="article-preview ">
          <a href="{{ post.url }}.html">
            <h2 class="article-title">
              {{ post.title }}
            </h2>
          </a>
          <p class="article-meta">
            {{ post.date | date_to_string }}
          </p>
          <p class="article-description">
            {{ post.excerpt }}
          </p>
          <hr>
        </div>
        {% endfor %} {% if paginator.total_pages > 1 %}
        <ul class="pager">
          {% if paginator.previous_page %}
          <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous page</a>
          </li>
          {% endif %} {% if paginator.next_page %}
          <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next page &rarr;</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
