---
layout: default
title: Blog
---
<div class="section values">
  <div class="container">
    <div class="row">
      <h1>Blog Title</h1>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <h2>{{ page.title }}</h2>
    <p class="meta">{{ page.date | date_to_string }}</p>
  </div>
  <div class="row">
    <div class="">
      {{ content }}
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="">
      {{ content }}
    </div>
  </div>
</div> -->
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = '{{ page.url }}';
this.page.identifier = '{{ page.id }}';
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//verenavertonghen.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
