.primary-text {
  color: $primary;
}

.secondary-text {
  color: $primary;
}

.text-decoration {
  font-family: $base-display-font, Georgia,Cambria,'Times New Roman',Times,serif;
  font-size: 16rem;
  color: $light;
}
