/* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-center {
  text-align: center !important;
}

.u-full-width {
  box-sizing: border-box !important;
  width: 100% !important;
}

.u-max-full-width {
  box-sizing: border-box !important;
  max-width: 100% !important;
}

.u-pull-right {
  float: right !important;
}

.u-pull-left {
  float: left !important;
}
/* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.container:after,
.row:after,
.u-cf {
  display: table !important;
  clear: both !important;
  content: '' !important;
}
