/* VARIABLES
-------------------------*/

/**
 * THEME
 */
 $dark: #324445;
 $neutral: #e3e4e5;
 $light: #f3f3f3;
 $primary: #9de1d2;
 $secondary: #edaebb;
 $danger: $secondary;
 $positive: $primary;
 $display-font: 'Josefin Sans';
 $black:#000;
 $white:#fff;
 $trans-black: rgba(0, 0, 0,0.7);
 $trans-white: rgba(255, 255, 255,0.7);
 
 $body-font: 'Josefin Sans';
 $header-font: 'Josefin Sans';
 $serif-font: 'Cormorant Garamond';
 $code-font: 'Consolas';
 
 /**
  * Branding Colors
  */
 
 /**
  * Font
  */
 $base-body-font-size: 16px;
 $base-small-font-size: 14px;
 $base-line-height: 1.6;
 $base-body-font-weight: 300;
 $base-body-font: $body-font , 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 $base-header-font: $header-font, 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 $base-serif-font: $serif-font;
 $base-code-font: $code-font;
 $base-display-font: $display-font;
 
 /**
  * Styles applied to base
  */
 $link-color: $primary;
 $link-color-hover: lighten($primary, 10%);
 $base-body-font-color: $dark;
 $base-background-color: $white;
 $selection-color: $dark;
 $selection-background-color: $primary;
 