/* VARIABLES
-------------------------*/

/**
 * THEME
 */
$dark: #272639;
$light: #F7F6FA;
$primary: #1e1583;
$secondary: #e80e81;
$tertiary: #eddd53;
$danger: #e80e81;
$positive: #1e1583;
$display-font: 'Pirou';

$body-font: 'Open Sans';
$header-font: 'Open Sans';
$serif-font: 'Cormorant Garamond';
$code-font: 'Consolas';

// $body-font: 'Source Sans Pro';
// $header-font: 'Source Sans Pro';
// $serif-font: 'Source Serif Pro';
// $code-font: 'Source Code Pro';

/**
 * Branding Colors
 */
$branding-colors: (
    primary: #343294,
    primary-lighten: #4C50A6,
    primary-darken: #1e1583,
    secondary: #F3409A,
    secondary-lighten: #FF73B3,
    secondary-darken: #e80e81,
    tertiary: $tertiary,
    tertiary-lighten: lighten($tertiary, 5%),
    tertiary-darken: darken($tertiary, 5%),
    danger: $danger,
    danger-lighten: lighten($danger, 5%),
    danger-darken: darken($danger, 5%),
    positive: $positive,
    positive-lighten: lighten($positive, 5%),
    positive-darken: darken($positive, 5%),
    light: #F7F6FA,
    gray: #E0DEED,
    dark-lightest: lighten($dark, 75%),
    dark-lighten: lighten($dark, 50%),
    dark: $dark
);

$rainbow-colors: (
    pink: #a71d5d,
    red:#ef473a,
    orange:#f7881d,
    yellow:#eddd53,
    green:#33cd5f,
    blue:#1e1583,
    purple:#886aea,
    black:#000,
    white:#fff,
    trans-black: rgba(0, 0, 0, .7),
    trans-white: rgba(255, 255, 255, .7),
);

/**
 * Social colors
 */
$social-linkedin: #0072b5;
$social-facebook: #2f4b93;
$social-twitter: #00bdef;

/**
 * Font
 */
$base-body-font-size: 16px;
$base-line-height: 1.6;
$base-body-font-weight: 300;
$base-body-font: $body-font , 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-header-font: $header-font, 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-serif-font: $serif-font;
$base-code-font: $code-font;
$base-display-font: $display-font;

/**
 * Styles applied to base
 */
$link-color: map-get($branding-colors, primary);
$link-color-hover: map-get($branding-colors, primary-lighten);
$base-body-font-color: map-get($branding-colors, dark);
// $base-background-color: map-get($branding-colors, light);
$base-background-color: map-get($rainbow-colors, white);
$selection-color: map-get($branding-colors, primary);
$selection-background-color: map-get($branding-colors, secondary);
